#broadcaster__messages-button {
	&.hidden {
		display: none;
	}
}

.broadcaster__messages {
	align-items: center;
	background-image: url('../img/messages.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    bottom: calc(100% - 30px);
	display: flex;
	flex-flow: column wrap;
	font-family: $font-family;
	height: 161px;
	justify-content: center;
    margin: 0 0 auto auto;
	padding-left: 30px;
	padding-right: 50px;
	position: absolute;
    right: 100%;
	text-align: center;
    transform-origin: 100% 100%;
    transform: scale(0);
    @include common-transition;
    width: 325px;

    &.show {
        transform: scale(1);
    }

    #broadcaster__messages {
    	font-size: 16px;
    	font-weight: bold;
    	letter-spacing: 0;
    	line-height: 120%;
    }

    #broadcaster__messages-button {
    	position: absolute;
    	bottom: 0px;

    	button {
    		background-color: $yellow;
    		border-radius: 7px;
    		border: none;
    		box-shadow: 0 5px 0px 0px $brown;
    		cursor: pointer;
    		display: inline-block;
    		font-weight: bold;
    		height: 30px;
    		text-align: center;
    		@include common-transition;
    		width: 60px;

    		&:first-child {
    			margin-right: 15px;
    		}

    		&:hover {
    			background-color: $yellow-medium;
    		}
    	}
    }
}

.broadcaster__wrap {
    position: relative;
    width: 158px;
}

.broadcaster__person {
    background-image: url('../img/broadcaster.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 415px;
    margin-left: auto;
    margin-right: 0;
    transition: all 0s ease;
    width: 158px;

    &.lose {
        background-position: right center;
    }
}