$font-family: 'Open Sans', sans-serif;

// Colores
$text-color: #664400;
$orange: #dd9300;
$yellow: #ffc832;
$yellow-medium: #e2bf0e;
$yellow-dark: #b77e00;
$cream: #ffed85;
$brown: #664400;
$brown-medium: #654400;
$brown-dark: #352200;
$blue-light: #c3e9ff;
$gray: #cccccc;
$white: #ffffff;

// Borders
$border-radius: 5px;

// Widths
$max-width: 375px;